.register-logo {
  padding: 20px 0;
  min-height: 100px;
  text-align: center;
}

.register-logo img {
  max-width: 250px;
}

.error {
  color: maroon;
}

.errorBlock {
  display: block;
}

.list {
  margin-bottom: 0;
}
